<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>IMDAZ - Gerenciamento de Estudantes | Listagem de alunos</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body class="bg-neutral-200 min-h-screen min-w-screen py-6 flex flex-col items-center justify-center m-auto">
    <main class="w-full max-w-[800px] m-auto">
      <h1 class="text-3xl font-bold text-center">{{ title }}</h1>
      <p class="text-lg text-center text-sky-800">{{ description }}</p>
      
      <section>
        {{#if response}}
          {{#each response}}
            <div class="bg-white p-6 mt-6 rounded shadow">
              <ul>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Nome:</span> {{name}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Gênero:</span> {{gender}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Etnia:</span> {{ethnicity}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Turno:</span> {{grade}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Data de Nascimento:</span> {{date_of_birth}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Endereço:</span> {{address}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Bairro:</span> {{neighborhood}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">CPF:</span> {{cpf}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Nome do(a) responsável:</span> {{tutor_name}}
                </li>
                <li class="border-b border-gray-300 mb-2">
                  <span class="text-sky-800 font-bold text-lg">Grau de parentesco do(a) responsável:</span> {{tutor_kindship}}
                </li>
              </ul>
            </div>
          {{/each}}
        {{else}}
          <p class="mt-6 text-lg font-bold">Não há registros de estudantes para serem exibidos.</p>
        {{/if}}
        <a href="/" class="mt-6 inline-block border border-sky-700 text-sky-700 bg-white font-bold px-8 py-4 rounded">
          Voltar
        </a>
      </section>
    </main>
  </body>
</html>