<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>IMDAZ - Gerenciamento de Estudantes | Matrículas</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>

      {{#if response}}
        <ul>
          <li>Nome: {{ response.name }}</li>
          <li>Telefone: {{ response.phone }}</li>
          <li>CPF: {{ response.cpf }}</li>
          <li>Responsável: {{ response.tutor_name }}</li>
        </ul>
        
        <nav>
          <ul>
            <li>
              <a href="/alunos">Listar todos os alunos</a>
            </li>
            <li>
              <a href="/alunos/matricula">Matricular um novo aluno</a>
            </li>
          </ul>
        </nav>
      {{else}}
        <form action="/alunos/matricula" method="post" name="registration-form">
          <div>
            <span>Nome:</span>
            <input id="name" name="name" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Gênero:</span>
            <input id="gender" name="gender" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Etnia:</span>
            <input id="ethnicity" name="ethnicity" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Data de nascimento</span>
            <input id="date_of_birth" name="date_of_birth" type="date" autocomplete="off" />
          </div>

          <div>
            <span>Possui alguma deficiência?</span>

            <div>
              <label for="disability">Sim</label>
              <input id="yes" name="disability" type="radio" value="1" />
            </div>

            <div>
              <label for="disability">Não</label>
              <input id="no" name="disability" type="radio" value="0" />
            </div>
          </div>

          <div>
            <span>Telefone:</span>
            <input id="phone" name="phone" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Turno:</span>
            <input id="grade" name="grade" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Já está matriculado?</span>

            <div>
              <label for="literate">Sim</label>
              <input id="literate-yes" name="literate" type="radio" value="1" />
            </div>

            <div>
              <label for="literate">Não</label>
              <input id="literate-no" name="literate" type="radio" value="0" />
            </div>
          </div>

          <div>
            <span>Endereço:</span>
            <input id="address" name="address" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Bairro:</span>
            <input id="neighborhood" name="neighborhood" type="text" autocomplete="off" />
          </div>

          <div>
            <span>CPF:</span>
            <input id="cpf" name="cpf" type="text" autocomplete="off" maxlength="11" />
          </div>

          <div>
            <span>RG:</span>
            <input id="rg" name="rg" type="text" autocomplete="off" maxlength="10" />
          </div>

          <div>
            <span>Data de emissão do rg:</span>
            <input id="rg_created_at" name="rg_created_at" type="date" autocomplete="off" />
          </div>

          <div>
            <span>Quantidade de filhos:</span>
            <input id="children" name="children" type="number" autocomplete="off" value="0" />
          </div>

          <div>
            <span>Possui irmão ou irmã já matriculado(a)?</span>

            <div>
              <label for="brother_or_sis_registered">Sim</label>
              <input id="brother_or_sis_registered-yes" name="brother_or_sis_registered" type="radio" value="1" />
            </div>

            <div>
              <label for="brother_or_sis_registered">Não</label>
              <input id="brother_or_sis_registered-no" name="brother_or_sis_registered" type="radio" value="0" />
            </div>
          </div>

          <div>
            <span>NIS:</span>
            <input id="nis" name="nis" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Nome da Escola:</span>
            <input id="school_name" name="school_name" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Nome do(a) responsável:</span>
            <input id="tutor_name" name="tutor_name" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Grau de parentesco do(a) responsável:</span>
            <input id="tutor_kindship" name="tutor_kindship" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Renda mensal:</span>
            <input id="earnings" name="earnings" type="text" autocomplete="off" />
          </div>

          <div>
            <span>Recebe algum benefício do governo?</span>

            <div>
              <label for="government_benefits">Sim</label>
              <input id="government_benefits-yes" name="government_benefits" type="radio" value="1" />
            </div>

            <div>
              <label for="government_benefits">Não</label>
              <input id="government_benefits-no" name="government_benefits" type="radio" value="0" />
            </div>
          </div>

          <div>
            <span>Autoriza o uso da sua imagem?</span>

            <div>
              <label for="image_rights">Sim</label>
              <input id="image_rights-yes" name="image_rights" type="radio" value="1" />
            </div>

            <div>
              <label for="image_rights">Não</label>
              <input id="image_rights-no" name="image_rights" type="radio" value="0" />
            </div>
          </div>

          <button type="submit" aria-label="Cadastrar turma">
            Cadastrar aluno
          </button>
        </form>
      {{/if}}
    </main>
  </body>
</html>